.image{
  height:60em; background-size:cover; width:100%;
  background-image:url('https://ae01.alicdn.com/kf/HTB14_iFib1YBuNjSszexh5blFXam/Laeacco-Library-Wooden-Bookshelf-Books-Study-Child-Portrait-Photographic-Background-Photography-Backdrops-Photocall-Photo-Studio.jpeg_960x960.jpeg');
  background-position:50% 50%;
}
